@import "tailwindcss";

@layer base {
  body {
    background-color: #fdfbf7;
    color: #1e293b;
  }
}

.bg-natural-canvas {
  background-color: #fdfbf7;
  background-image: linear-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 100% 28px;
}
